@font-face {
   font-family: 'Poppins-SemiBold';
   font-display: swap;
   src: url('Poppins-SemiBold/font.ttf');
}
@font-face {
   font-family: 'Poppins-Regular';
   font-display: swap;
   src: url('Poppins-Regular/font.ttf');
}
