@font-face {
   font-family: 'Poppins-Regular';
   font-display: swap;
   src: url('file:///C:/Users/thisismalindu/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-10_135904/fonts/Poppins-Regular/font.ttf');
}
